:root {
    --primary-dark: #1e1f26;
    --secondary-dark: #232931;
    --light-color: #787A91;
    --green-color: #4ecca3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--secondary-dark);
}

/* NavBar */

.responsive-links {
    display: none;
}

.icon {
    display: none;
}

.nav-container {
    width: 100%;
    height: 10vh;
    background: #;
}

.nav-container .nav .nav-list {
    display: flex;
}

.nav-list {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}  

.nav-link {
    color: #4ecca3;
}

.nav-link:hover {
    color: #4ecca3;
}

.logo {
    height: 100px;
    width: auto;
    border-radius: 50px;
    margin: 10px;
}
/* Header */
.logo {
    width: 8rem;
    border-radius: 50%;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    color: white;
    font-size: 1.2rem;
}

.scroll {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 9rem;
    font-family: tahoma;
    animation: blink 2s linear infinite;
}

.arrow-down {
    margin-top: 5px;
}

@keyframes blink {
    0%{opacity: 0}
    100%{opacity: 100%}
}

.about-me {
    padding: 20px;
}

.aboutme-head {
    font-size: 1.8rem;
    color: white;
}

.info {
    font-family: century gothic;
    font-weight: 400;
    color: var(--light-color);
    font-size: 1.2rem;
    margin: 10px 0 0 15px;
    width: 80%;
    line-height: 30px;
}

.social-icons {
    color: var(--green-color);
    margin: 20px 0 0 10px;
    padding: 10px auto;
}

.fab {
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

.fab:hover {
    transform: scale(1.5);
}

.contact-details {
    margin-top: 3rem;
    line-height: 30px;
}

.detail-head {
    font-size: 1.7rem;
    color: white;
}

.connectWithMe {
    color: var(--light-color);
    margin-left: 10px;
    font-size: 1.1rem;
    font-family: calibri;
}

/* skills */

.skills {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skill-container {
    width: 100%;
    height: 100vh;
    background: var(--primary-dark);
}

.skill-head {
    padding-top: 20px;
    color: white;
    text-align: center;
    font-family: century gothic;
    font-weight: 400;
}

.sub-header {
    font-family: tahoma;
    color: var(--green-color);
    font-size: 2rem;
    margin-left: 10px;
}

.bar-head {
    color: var(--green-color);
    margin: 10px 0 10px 10px;
    font-size: 1.2rem;
}

.bar {
    margin-left: 20px;
    width: 80%;
    border-radius: 10px;
    height: 7px;
    border: 1px solid #4ecca3;
    
}

.html {
    width: 65%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: html 3s;
}

@keyframes html {
    0%{width: 0}
    100%{width: 65%};
}

.css {
    width: 55%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: css 3s;
}

@keyframes css {
    0%{width: 0}
    100%{width: 55%};
}

.js {
    width: 40%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: js 3s;
}

@keyframes js {
    0%{width: 0}
    100%{width: 40%};
}

.bs {
    width: 50%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: bs 3s;
}

@keyframes bs {
    0%{width: 0}
    100%{width: 50%};
}

.jq {
    width: 30%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: jq 3s;
}

@keyframes jq {
    0%{width: 0}
    100%{width: 30  %};
}

/* Projects */

.project-container {
    width: 100%;
    padding: 20px;
    background: var(--secondary-dark)
}

.project-head {
    color: white;
    font-family: century gothic;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.comment {
    color: var(--light-color);
    font-size: 2rem;
    text-align: center;
    font-family: calibri;
}

.project-label {
    color: white;
    margin: 10px 0 5px 10px;
    font-size: 20px;
}

.first-three {
    display: flex;
}

.last-two {
    display: flex;
    justify-content: center;
}

.project-img {
    position: relative;
    margin-left: 15px;
    display: flex;
    width: 300px;
    height: 300px;
    border: 2px solid var(--light-color);

}

.project-img:hover {
    opacity: 1;

}

.details {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    position: absolute;
    top: 25%;
}


.details:hover {
    background: rgba(0,0,0,0.9);
    width: 300px;
    height: 305px;
    top: 12%;
    left: 4.5%;
    opacity: 1;
}

.project {
    cursor: pointer;
    position: relative;
}
/* Contact */
.contact-container {
    width: 100%;
    height: 100vh;
    background: var(--primary-dark);
}

.contact-head {
    color: white;
    font-family: century gothic;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.contact-label {
    color: white;
}

#form {
    width: 80%;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input {
    margin: 20px auto;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #fd7e14;
    color: white;
}
.foot {
    color: white;
    font-family: calibri;
    text-align: center;
    padding-top: 5px;
}
