:root {
    --primary-dark: #1e1f26;
    --secondary-dark: #232931;
    --light-color: #787A91;
    --green-color: #4ecca3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--secondary-dark);
}

/* NavBar */

.responsive-links {
    display: none;
}

.icon {
    display: none;
}

.nav-container {
    width: 100%;
    height: 10vh;
    background: #;
}

.nav-container .nav .nav-list {
    display: flex;
}

.nav-list {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}  

.nav-link {
    color: #4ecca3;
}

.nav-link:hover {
    color: #4ecca3;
}

.logo {
    height: 100px;
    width: auto;
    border-radius: 50px;
    margin: 10px;
}
/* Header */
.logo {
    width: 8rem;
    border-radius: 50%;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head {
    color: white;
    font-size: 1.2rem;
}

.scroll {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 9rem;
    font-family: tahoma;
    animation: blink 2s linear infinite;
}

.arrow-down {
    margin-top: 5px;
}

@keyframes blink {
    0%{opacity: 0}
    100%{opacity: 100%}
}

.about-me {
    padding: 20px;
}

.aboutme-head {
    font-size: 1.8rem;
    color: white;
}

.info {
    font-family: century gothic;
    font-weight: 400;
    color: var(--light-color);
    font-size: 1.2rem;
    margin: 10px 0 0 0;
    width: 80%;
    line-height: 30px;
}

.social-icons {
    color: var(--green-color);
    margin: 20px 0 0 10px;
    padding: 10px auto;
}

.fab {
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
    transition: all .3s ease;
}

.fab:hover {
    transform: scale(1.5);
}

.contact-details {
    margin-top: 3rem;
    line-height: 30px;
}

.detail-head {
    font-size: 1.7rem;
    color: white;
}

.connectWithMe {
    color: var(--light-color);
    font-size: 1.1rem;
    font-family: calibri;
}

/* skills */

.skills {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.skill-container {
    width: 100%;
    height: 100vh;
    background: var(--primary-dark);
}

.skill-head {
    padding-top: 20px;
    color: white;
    text-align: center;
    font-family: century gothic;
    font-weight: 400;
}

.sub-header {
    font-family: tahoma;
    color: var(--green-color);
    font-size: 2rem;
    margin-left: 10px;
}

.bar-head {
    color: var(--green-color);
    margin: 10px 0 10px 10px;
    font-size: 1.2rem;
}

.bar {
    margin-left: 20px;
    width: 80%;
    border-radius: 10px;
    height: 7px;
    border: 1px solid #4ecca3;
    
}

.html {
    width: 65%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: html 3s;
}

@keyframes html {
    0%{width: 0}
    100%{width: 65%};
}

.css {
    width: 55%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: css 3s;
}

@keyframes css {
    0%{width: 0}
    100%{width: 55%};
}

.js {
    width: 40%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: js 3s;
}

@keyframes js {
    0%{width: 0}
    100%{width: 40%};
}

.bs {
    width: 50%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: bs 3s;
}

@keyframes bs {
    0%{width: 0}
    100%{width: 50%};
}

.jq {
    width: 30%;
    border-radius: 5px;
    background: var(--green-color);
    height: 5px;
    animation: jq 3s;
}

@keyframes jq {
    0%{width: 0}
    100%{width: 30  %};
}

/* Projects */

.project-head {
    color: white;
    margin-left: 25rem;
    font-family: century gothic;
    font-weight: 400;
}

.firstThree {
    display: flex;
}

.lastTwo {
    display: flex;
}

.main-container {
    width: 1000px;
    display: ;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.main-container .card {
    cursor: pointer;
    background: var(--secondary-dark);
}

.main-container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.main-container .card .face.face1 {
    position: ;
    background: var(--secondary-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.main-container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}

.main-container .card .face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.main-container .card:hover .face.face1 .content {
    opacity: 1;
}

.main-container .card .face.face1 .content img {
    max-width: 100px;
}

.main-container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}


.main-container .card .face.face2 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.main-container .card:hover .face.face2 {
    transform: translateY(0);
}

.main-container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.main-container .card .face.face2 .content a {
    margin: 15px 0 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;border: 1px solid #333;
}

.main-container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}


/* Contact */
.contact-container {
    width: 100%;
    height: 115vh;
    background: var(--primary-dark);
}

.contact-head {
    color: white;
    font-family: century gothic;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

.contact-label {
    color: white;
}

#form {
    width: 80%;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input {
    margin: 20px auto;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #fd7e14;
    color: white;
}
.foot {
    color: white;
    font-family: calibri;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
