@media only screen and (max-width: 768px) {
     .bio-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;      
    }
    .about-me {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px auto;
    }
    .mypic {
        margin-top: 10rem;
    }
     .main-nav {
          width: 100%;
          position: fixed;
          z-index: 4;
     }
     .bio-content {
          height: 120vh;
     }
    /* About Me */
    .info {
        width: 90%;
    }
    /* Skills */
    .skills {
        margin-left: px;
    }
    ul li {
        margin-left: 10px;
    }
    .bar-head {
        font-size: 1.3rem;
    }
    /* Projects */
  .main-container {
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .project-head {
        margin-left: 5rem;
        padding: 10px 0 10px 0;
    }
     .firstThree {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }
    .lastTwo {
        display: flex;
        flex-direction: column;
        margin-left: 5rem;
    }
    .card {
        margin-top: 10px;
    }
